/* Colors */

$highlight: #3CC787;
$default: #5C6975;
$background: #FFFFFF;
$alt-background: #F2F2F2;

/*
// Break points
// $break-small: 748px;
// $break-large: 1080px;

// Left Margin
// $left-margin-small: -2em;
// $left-margin-large: calc( -110px - 2em); 
*/